.sym-body {
    background: #191919;
    color: #F0F0F0;
    font-family: "Arial", sans-serif;
}

.sym-body a {
	color: #A9D852;
}

/***************************/
/********* Header **********/
/***************************/

.sym-header {
    width: 875px;
    margin: auto;
    padding-top: 10px;
}

.sym-banner {
    display: inline-block;
    cursor: pointer;
}

.sym-banner > img {
    width: 200px;
}

.sym-menu {
    display: inline-block;
    padding: 32px 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: default;
}

.sym-menu>a {
    padding: 3px 7px;
    text-decoration: inherit;
    color: inherit;
}

.sym-menu>a:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
}

.sym-headerMenu {
    float: right;
}

/***************************/
/***** Main Content ********/
/***************************/

.sym-main-content-home {
    width: 900px;
    margin: auto;
    padding: 45px 0;
}

.sym-main-content-home>div {
    margin: 15px 0;
}

.sym-home-motto {
    width:750px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: auto !important;
}

.sym-home-motto > img{
    width: inherit;
    margin-top: 7px;
}

.sym-game{
    height: 300px;
    width: 380px;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    margin: 15px;
    /*background: #444;*/
    user-select: none;
    border-radius: 10px;
    /* border: 2px solid #aaa; */
}

.sym-game:hover{
   /* box-shadow: 0px 0px 10px #eee */
}

.sym-game-title {
    text-align: center;
}

.sym-game-title img{
    width: 250px;
}

.sym-game-datatype{
    cursor: pointer;
    padding: 5px 66px;
    font-size: 20px;
    font-weight: bold;
}

.sym-game-datatype:hover{
    text-decoration: underline;
}

.sym-game-datatype img{
    width: 28px;
    margin-right: 10px;
    vertical-align: bottom;
}

.sym-separator {
    background: #B0B0B0;
    height: 2px;
}

.sym-main-desc>div {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
}

.sym-main-desc-text-block>div {
    margin: 15px 0;
    font-size: 14px;
    line-height: 22px;
}

.sym-main-desc-whatsThat {
    font-size: 28px !important;
    font-weight: bold;
    margin: 20px 0 30px 0 !important;
}

a.sym-main-desc-learnMore-btn {
    border: 2px solid #B0B0B0;
    background: black;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
}

.sym-main-flask {
    width: 400px;
}

.sym-demize {
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

.sym-demize-quote {
    font-size: 32px;
    width: 400px;
    margin: auto;
}

.sym-demize-name {
    font-size: 14px;
    margin-top: 20px;
}

.sym-main-content-header{
    width: 900px;
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.sym-main-content-version{
    width: 900px;
    margin: auto;
    text-align: center;
    color: #ccc;
    padding: 10px 0px 0px 0px;
}

.sym-loading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 100px;
}

/**************************************/
/*********** Footer *******************/
/**************************************/

.sym-footer {
    text-align: center;
}


/**************************************/
/******** Selection Pages *************/
/**************************************/

.sym-pageHeaderContent {
  margin: auto;
}

.sym-pageSelections {
    text-align: center;
    font-weight: bold;
    width: 1160px;
    margin: auto;
}

.sym-pageSelections img {
    width: 100px;
    margin-bottom: 10px;
}

.sym-pageSelections > div {
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    margin: 15px;
    background: #444;
    user-select: none;
}

.sym-pageSelections > div:hover{
    background-color: #88bb2a;
}

.sym-pageSelections > .selected-selector {
    background-color: #496822;
}


/**************************************/
/******** Static pages ****************/
/**************************************/

.sym-static-content h2 {
    font-weight: unset;
    padding-top: 30px;
}

.sym-static-content h2:first-child {
    padding-top: 0px;
}

.sym-static-content p {
    padding-left: 20px;
}

.sym-about h2 {
    border-bottom: solid 1px #B0B0B0;
}

.sym-faq h2 {
    font-style: italic;
}

.sym-faq p {
    border-left: 2px solid #A9D852;
}

.sym-staff-member-box {
    border-bottom: 1px solid #444;
    padding: 15px 0;
    margin: 0 !important;
}

.sym-staff-member-links a {
	float: right;
	margin: 10px;
}

.sym-staff-member-box b {
    color: #FF9000;
}

.sym-staff-member-box h2 {
    padding-left: 40px;
    font-size: 120%;
}

.sym-staff-member-box h2>b {
    font-size: 140%;
}

.sym-info-section-header span{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

/**************************************/
/*********** News page ****************/
/**************************************/

.sym-news-entry-date {
    line-height: 200%;
	padding: 0 10px;
	font-style: italic;
	font-size: large;
    float: right;
}

.sym-news-entry-content {
    padding: 0 40px;
}

.sym-news-entry-content > p{
	padding-left: 0;
}

.sym-news-entry > h1 {
	padding: 0 0;
}

.sym-news > div {
    margin-bottom: 30px;
}

.sym-news > div:not(:first-child) {
	border-top: 5px solid #999;
	padding-top: 20px;
}

/**************************************/
/*********** Dropdown menu ************/
/**************************************/

.dropbtn {
    cursor: pointer;
    margin-left: 12px;
    width: 24px;
    vertical-align: text-top;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    text-align: center;
    min-width: 160px;
    width: 860px;
    z-index: 1;
    right: 0;
    box-shadow: 0px 0px 6px #999;
    top: 25px;
}
  
  /* Links inside the dropdown */
.dropdown-content > div {
    color: #f0f0f0;
    padding: 12px 16px;
    text-decoration: none;
    border: 1px solid #333;
}

.dropdown-content img {
    width: 125px;
}

.show {
    display: block;
}

.sym-dropdown-games{
    display: inline-block;
}

.sym-dropdown-games div{
    display: inline-block;
    vertical-align: top;
}

.sym-dropdown-games > div{
    margin: 7px 7px;
}


.sym-dropdown-games h4{
    text-align: left;
    margin: 11px 0;
}

.sym-dropdown-sub-menu {
    font-size: 14px;
    width: 185px;
    text-align: left;   
}

.sym-dropdown-sub-menu > a {
    padding: 3px 1px;
    cursor: pointer;
    color: #f0f0f0;
    text-decoration: unset;
    line-height: 23px;
    font-weight: lighter;
}

.sym-dropdown-sub-menu a:hover div{
    text-decoration: underline;
}

.sym-dropdown-sub-menu img {
    width: 16px;
    margin-right: 12px;
    vertical-align: middle;
}


