# Local data for debugging. Fill be filled on server.
**/bf1/data/**
**/bfv/data/**
**/bf4/data/**
**/bfh/data/**
**/bf2042/data/**
**/pages/mw2/data/mw2_data.js
**/pages/warzone/data/warzone_data.js
**/bf6/data/**
