# Local data for debugging. Fill be filled on server.
.idea/*
*.psd
.idea/modules.xml
.idea/misc.xml
.idea/sym.iml
.idea/vcs.xml

**/bf1/data/**
**/bfv/data/**
**/bf4/data/**
**/bfh/data/**

**/apex/data/**
