.bfv-header-content {
  text-align: center;
  padding: 100px;
  margin: auto;
  width: 400px;
}

.bfv-content-comparison {
    width: 1200px;
    margin: auto;
}

/* Remove unnecessary paddings */
.bfv-content-comparison > div {
    padding: 0px 0px;
}


.bfv-content-comparison-table table {
    border-spacing: 0px;
}

.bfv-content-comparison-table tr:nth-child(even) {
    background-color: #222;
}


/* Do not color the first row */

.bfv-content-comparison-table tr:nth-child(odd):not(:first-child) {
    background-color: #333;
}

.bfv-content-comparison-table th {
    height: 30pt;
}

.bfv-content-comparison-table td:first-child {
    padding-right: 30pt
}


/* Center values in the table, but on the first column (names) */

.bfv-content-comparison-table td:not(:first-child) {
    text-align: center;
    width: 100pt;
}

.comp-pageTitle{
    padding: 14px;
    text-align: center;
    color: white;
    font-size: 30px;
    width: 900px;
    margin: 50px auto;
    border-bottom: 2px solid #ff9000;
}

#selectors{
    margin-bottom: 30px;
}

.comp-selectorContainer{
    display: inline-block;
    vertical-align: top;
    padding: 19px;
    background: #222;
    margin: 4px;
    border: 1px solid #444;
    width: 345px;
    height: 145px;
}

/*  Customization button */
.comp-selectorContainer label{
    font-size: 11px;
    width: 145px;
    margin: 1px;
    border-radius: 2px;
}

.comp-selectors{
    color: #444;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
}

.comp-filterContainer{
    display: inline-block;
    border-bottom: 1px solid #777;
    width: 100%;
    margin: 40px 0;
}

.comp-filterBorderHeader{
    border-left: 5px solid #FF9000;
    padding-left: 10px
}

.comp-filterInput{
    display: inline-block;
    font-style: italic;
    margin: 0px 50px 0px 10px;
}

#column_filter{
    width: 400px;
}

#compare_table td{
    padding: 1px 7px;
}


/* Index Page */
/**************/

.indexPageItemContainer{
    text-align: center;
}

.indexPageItem{
    display: inline-block;
    width: 300px;
    height: 200px;
    vertical-align: top;
    margin: 30px;
    cursor: pointer;
    user-select: none;
}

.indexPageItem img{
    width: 75px;
}

.indexPageItem h4{
    margin: 10px 0;
}

.indexPageItem div{
    color: #ccc;
}


/* Index Page */
/**************/

.bfv-sym-info-page{
    width: 900px;
    margin: auto;
}

.bfv-sym-info-section-header{
    margin: 55px 0 20px;
}

.bfv-sym-info-section-header img{
    height: 50px;
    vertical-align: middle;
}

.bfv-sym-info-section-header span{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

.bfv-general-info .bfv-sym-info-section-header{
    margin-top: 55px;
}

.bfv-sym-info-subheader{
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px 0px;
    border-top: 1px solid #444;
}

.bfv-sym-info-subheader > img{
    vertical-align: middle;
    height: 30px;
}

.bfv-sym-info-subheader > div{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}

.bfv-info-specHeaderImg{
    width: 100px;
    display: inline-block;
    text-align: center;
}

.bfv-info-spec-table{
    border-spacing: 0;
    margin-top: 35px;
}

.bfv-info-spec-table td{
    border-top: 1px solid #444;
    padding: 10px 0;
}

.bfv-info-spec-table tr > td:nth-child(2){
    width: 300px;
    padding-left: 20px;
}

/* General Info Page Specific */

.bfv-genInfo-table {
    margin-bottom: 20px;
    background: #333;
    border-spacing: 0;
}

.bfv-genInfo-table caption{
    font-weight: bold;
    font-size: 13px;
}

.bfv-genInfo-table tr:nth-child(even){
    background: #222;
}

.bfv-genInfo-table td{
    padding: 2px 12px;
    font-size: 16px;
}

.bfv-genInfo-table tr td:nth-child(1){
    text-align: right;
    font-style: italic;
}

.bfv-genInfo-table tr td:nth-child(2){
    font-weight: bold;
}




.ui-widget-shadow{
    box-shadow: 0px 0px 5px #ccc !important;
}