.bf6-header-content {
  text-align: center;
  padding: 100px;
  margin: auto;
  width: 400px;
}

.bf6-content-comparison {
    width: 1200px;
    margin: auto;
}

/* Remove unnecessary paddings */
.bf6-content-comparison > div {
    padding: 0px 0px;
}

.bf6-content-comparison-table table {
    border-spacing: 0px;
}

.bf6-content-comparison-table tr:nth-child(even) {
    background-color: #222;
}

.bf6-comp-selectorContainer{
    display: inline-block;
    vertical-align: top;
    padding: 19px;
    background: #222;
    margin: 4px;
    border: 1px solid #444;
    width: 345px;
}

/* Attachment dropdown boxes */
.bf6-comp-selectorContainerAttachments select {
    color: #444;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    width: 100%;
}

/* "Attachments" text */
.bf6-comp-selectorContainer div:first-of-type {
    text-align: center;
    color: #AAA;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.bf6-comp-selectorContainer div:first-of-type {
    text-align: center;
    color: #AAA;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.bf6-comp-attachmentNames {
    font-size: 70%;
}

/* Do not color the first row */

.bf6-content-comparison-table tr:nth-child(odd):not(:first-child) {
    background-color: #333;
}

.bf6-content-comparison-table th {
    height: 30pt;
}

.bf6-content-comparison-table td:first-child {
    padding-right: 30pt
}


/* Center values in the table, but on the first column (names) */

.bf6-content-comparison-table td:not(:first-child) {
    text-align: center;
    width: 100pt;
}


.bf6-sym-info-subheader{
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px 0px;
    border-top: 1px solid #444;
}

.bf6-genInfo-table {
    margin-bottom: 20px;
    background: #333;
    border-spacing: 0;
}

.bf6-genInfo-table caption{
    font-weight: bold;
    font-size: 13px;
}

.bf6-genInfo-table tr:nth-child(even){
    background: #222;
}

.bf6-genInfo-table td{
    padding: 2px 12px;
    font-size: 16px;
}

.bf6-genInfo-table tr td:nth-child(1){
    text-align: right;
    font-style: italic;
}

.bf6-genInfo-table tr td:nth-child(2){
    font-weight: bold;
}

/* Version info table */
.bf6-version-info{
    display: flex;
    justify-content: center;
    width: 910px;
    margin: 10px auto 40px;
}

.bf6-version-info tr td:first-child {
    text-align: right;
    font-style: italic;
    font-size: 10px;
}

.bf6-version-info tr td:nth-child(2) {
    font-weight: bold;
    font-size: 12px;
}

/* Toggle switch */
.bf6-toggle-switch__box {
    cursor: pointer;
    border: 2px solid #ff9000;
    padding: 2px;
    width: 48px;
    border-radius: 4px;
}

.bf6-toggle-switch__switch {
    width: 24px;
    height: 24px;
    background-color: #ff9000;
    border-radius: 4px;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.bf6-toggle-switch__switch--active {
    transform: translateX(24px);
    -webkit-transform: translateX(24px);
    -moz-transform: translateX(24px);
}
