body {background-color: #191919;}
.container{
    width: 690px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}

.apex_classTable table {
    font-size: 14px;
}

.apex_classTable td {
    border-top: 1px solid #dee2e6;
    text-align: center;
}

#apex_showHideStats, #apex_showHideSubCats{
    font-size: 11px;
}

#apex_showHideStats > label, #apex_showHideSubCats > label{
    padding: 5px 7px;
}

.apex_classTable{
    margin: 0 auto 40px;
    width: 1280px;
    border-bottom: 1px solid #dee2e6;
    border-top: 15px solid #dee2e6;
    border-spacing: 0;
}

.apex_classHeader {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 10px;
    width: 1280px;
}

.apex_classHeader img{
    width: 48px;
    height: 48px;
    margin: 0 5px -15px;
}

.apex_classTable{
    margin: 0 auto 40px;
    width: 1280px;
    border-bottom: 1px solid #dee2e6;
    border-top: 15px solid #dee2e6;
    border-spacing: 0;
}

.apex_classHeader {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 10px;
    width: 1280px;
}

.apex_classHeader img{
    width: 48px;
    height: 48px;
    margin: 0 5px -15px;
}


/* ************ */
/* Toolbar      */
/* ************ */
#apex_weaponsToolbar{
    font-size: 14px;
    width: 1280px;
    margin: 10px auto;
}

#apex_weaponsToolbar > .apex_toolboxRow > div {
    margin: 10px 40px;
    text-align: center;
}

.apexChart-dropdownRow > div{
    display: inline-block;
}

.apexChart-dropdownRow{
    text-align: center;
}

.ui-menu{
    width: 185px;
}

#apex_showHideCheckboxes label {
    width: 100px;
    margin-bottom: 8px;
}

#apex_showHideCheckboxes img{
    width: 18px;
    height: 18px;
}

#showHideCheckboxes img{
    width: 18px;
    height: 18px;
}

/* *********** */
/* TTK Toolbar */
/* *********** */

#ttkToolBar{
    text-align: center;
    font-size: 14px;
    width: 1280px;
    margin: 10px auto;
    background: #171717;
    alignment: center;
}

#ttkToolBar > .apex_toolboxRow > div {
    margin: 5px;

}

#ttkToolBar > .apex_toolboxRow2 > div {
    margin: 5px 5px 5px 475px;

}

#ttkToolBar > .apex_toolboxRow3 > div {
    margin: -52px 475px 5px 5px;

}


.TTK_toolbarRowContainer {
    display: inline-block;
}

#apex_showHideShieldTypes img{
    width: 40px;
}

#apex_showHideTargetTypes img{
    display: inline-block;
    width: 40px;
}

#apex_showHideHeadShots img{
    width: 40px;
}

#fortified_low_profile_toggle {
    width: 200px ;
}

.apex_lblSuffixText {
    font-size: 10px;
}

/* ************ */
/* Pre-Chart    */
/* ************ */

.apex_firstColumn{
    width: 220px;
    text-align: left !important;
}

.apex_weaponImg{
    height: 70px;
    width: auto;
    max-width: 265px;
    margin: 5px 0;
}

.apex_lblWeaponName {
    font-size: 15px;
    color: #A9D852;
    font-weight: bold;
}

.apex_lblWeaponName img{
    height: 21px;
    width: 21px;
    float: right;
}

.apex_lblBurstCount{
    margin-top: -8px;
    font-size: 16px;
    color: #FF9000;
    font-weight: bold;
    float: right;
}

.apex_lblChargeValue {
    margin-right: -45px;
    font-size: 12px;
    color: #FF9000;
    font-weight: bold;
    float: right;
}

.apex_lblRPM {
    margin-top: -18px;
    font-size: 16px;
    color: #FF9000;
    font-weight: bold;
    float: right;
}

/* ************ */
/* Damage Chart */
/* ************ */
.apex_secondColumn{
    width: 252px;
}

.apex_damageChartContainer{
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #444;
}

.apex_damageChart{
    height:120px;
}

.apex_chartLabel {
    font-size: 8px;
    fill: #555;
}

.apex_chartLabel200Dist {
    font-size: 10px;
    fill: #C27070;
}

.apex_chartMinMaxLabel{
    font-size: 12px;
    fill: #A9D852;
    font-weight: bold;
}

.apex_hs_chartMinMaxLabel{
    font-size: 13px;
    fill: #ff9000;
    font-weight: bold;
}

.apex_ls_chartMinMaxLabel{
    font-size: 11px;
    fill: #666666;
    font-weight: bold;
}

.apex_chartDamageLine{
    fill:none;
    stroke:#A9D852;
    stroke-width:2;
}

.apex_hs_chartDamageLine{
    fill:none;
    stroke: #ff9000;
    stroke-width:2;
}

.apex_ls_chartDamageLine{
    fill:none;
    stroke: #666666;
    stroke-width:2;
}

.apex_gridLineThin {
    stroke:rgb(125,125,125);
    stroke-width:.25;
}

.apex_gridLineFat {
    stroke:rgb(125,125,125);
    stroke-width:.5;
}

/* ************ */
/* After  Chart */
/* ************ */
.apex_headShotDamageDistanceContainer{
    margin: 4px 0;
    display: inline-block;
}

.apex_headShotDamageDistanceContainer img{
    height: 20px;
    width: 25px;
}

.apex_legShotDamageDistanceContainer{
    margin: 4px 0;
    display: inline-block;
    padding-left: 8px;
    /*border: 1px solid #444;*/
}

.apex_legShotDamageDistanceContainer img{
    height: 20px;
}

/*.apex_thirdColumn{*/
/*}*/

.apex_lblSpeed img{
    vertical-align: text-bottom;
}

.apex_lblDragCoe{
    font-size: 11px;
    color: white;
    vertical-align: middle;
}

/*.apex_fourthColumn{*/
/*}*/

/*.apex_fifthColumn{*/
/*}*/

/* **************/
/* Spread Table */
/* *********** **/

.apex_spreadTable{
    font-size: 12px !important;
}

.apex_spreadTable tr:nth-child(2) td,
.apex_spreadTable tr:nth-child(4) td,
.apex_spreadTable tr:nth-child(8) td,
.apex_spreadTable tr:nth-child(11) td{
    padding-top: 4px
}

.apex_spreadTable tr:nth-child(1) td{
    font-style: italic;
}

.apex_spreadTable td {
    border: none;
    text-align: left;
    line-height: 10px;
}

.apex_spreadTable img{
    width: 25px;
}

.apex_spreadTableLabels {
    color: #FFFFFF;
}

.apex_spreadTableStandADSValue {
    color: #A9D852;
}

.apex_spreadTableStandHipValue {
    color: #666666;
}

.apex_spreadTableAirHipValue {
    color: #d89100;
}

.apex_scaleIncreaseCell img{
    width: 15px !important;
}

.apex_scaleIncreaseCell{
    text-align: center !important;
}

.apex_scaleDecreaseCell img{
    width: 15px !important;
}

.apex_scaleDecreaseCell{
    text-align: center !important;
}

/* ******************/
/* Attachment Slots */
/* ******************/

.barrel_stabilizer_l1 {
    position: absolute;
    top: 60px;
    left: 156px;
    width: 100px;
    filter: grayscale(1) saturate(500%) brightness(500%);
}

.barrel_stabilizer_l2 {
    position: absolute;
    top: 60px;
    left: 287px;
    width: 100px;
}

.barrel_stabilizer_l3 {
    position: absolute;
    top: 60px;
    left: 418px;
    width: 100px;
    filter: hue-rotate(51.5deg) saturate(112.5%) brightness(113%);
}

.barrel_stabilizer_l4_flash_hider {
    position: absolute;
    top: 60px;
    left: 549px;
    width: 100px;
}

/*.apex_slot_0{*/
/*    background:url(https://i.imgur.com/1bw3xpO.png) no-repeat;*/
/*    float:left;*/
/*    width:128px;*/
/*    padding-right: 3px;*/
/*    height:128px;*/
/*    left: 100px;*/
/*}*/
/*.apex_slot_1{*/
/*    background:url(https://i.imgur.com/1bw3xpO.png) no-repeat;*/
/*    float:left;*/
/*    padding-right: 3px;*/
/*    width:128px;*/
/*    height:128px;*/
/*    left: 100px;*/
/*}*/
/*.apex_slot_2{*/
/*    background:url(https://i.imgur.com/1bw3xpO.png) no-repeat;*/
/*    float:left;*/
/*    width:128px;*/
/*    height:128px;*/
/*    left: 100px;*/
/*}*/
/*.apex_slot_3{*/
/*    background:url(https://i.imgur.com/1bw3xpO.png) no-repeat;*/
/*    float:left;*/
/*    margin-left: 131px;*/
/*    width:128px;*/
/*    height:128px;*/
/*    left: 100px;*/
/*}*/
/*.apex_slot_4{*/
/*    background:url(https://i.imgur.com/1bw3xpO.png) no-repeat;*/
/*    float:left;*/
/*    margin-left: 131px;*/
/*    width:128px;*/
/*    height:128px;*/
/*    left: 100px;*/
/*}*/

.aa {
    margin-left: -2px;
}
.attachment_slot_menu{}
.attachment_slot_menu td.top{background: #191919; color: #3cff00; text-align:center}
.attachment_slot_menu td{background:#ff0000; color: #ff000a; text-align:left}
.attachment_slot_menu td.title{background:#00ff11; color: #c323ae; text-align:left}
.attachment_slot_menu td a, .attachment_slot_menu td a:visited{color: #191919;}
.attachment_slot_menu td.active{background:#191919; color:#333}
.attachment_slot_menu td.active a, .attachment_slot_menu td.active a:visited{color: #191919; text-decoration:none}
.tbl_attachment_slot{background:#191919}
pre{overflow-x:auto; overflow-y:hidden; background: #17ff05; color: #32ff00; margin:0; padding:20px; max-width:50px}
.hide, .hidden{display:none}

.borderRadius{-moz-border-radius:0; border-radius:0;color: #191919; }
.borderRadiusTp{-moz-border-radius:0 0 0 0; border-radius:0 0 0 0; background-color: #191919;}
.borderRadiusBtm{-moz-border-radius:0 0 0 0 ; border-radius:0 0 0 0;}

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 0 0 ; border-radius:0 0 0 0;border-bottom:0 none #191919; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:0 0 0 0; border-radius:0 0 0 0 ;border-bottom:0 solid #191919; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
    opacity: .5; /* standard: ff gt 1.5, opera, safari */
    -ms-filter:"alpha(opacity=50)"; /* ie 8 */
    filter:alpha(opacity=50); /* ie lt 7 */
    -khtml-opacity:.5; /* safari 1.x */
    -moz-opacity:.5; /* ff lt 1.5, netscape */
    color: #191919;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:0 0 0 -0 #191919;-webkit-box-shadow:0 0 0 0 #191919;box-shadow: 0 0 0 0 #191919;}
.ddcommon input.text{color: #191919;padding:0 0 0 0; position:absolute; background: #191919; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:0 0 0 0 #191919;-webkit-box-shadow:0 0 0 0 #191919;box-shadow: 0 0 0 0 #191919;}
.borderRadiusBtm .shadow{-moz-box-shadow:0 0 0 0 #191919;-webkit-box-shadow:0 0 0 0 #191919;box-shadow: 0 0 0 0 #191919}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 0 0 ; border-radius:0 0 0 0;}
.borderRadiusBtm .border{-moz-border-radius:0 0 0 0; border-radius:0 0 0 0;}
img.fnone{width: 59px; height: 59px;float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
/*.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4;}*/
/*.ddcommon .ddArrow:hover{background-position:0 100%;}*/
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 0; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:0 0 0 0
}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

.dd{border:0 solid #191919;}
.dd .divider{border-left:0 solid #191919; border-right:0 solid #191919;; right:0;}
.dd .ddArrow:hover{background-position:0 100%;}

.dd .ddTitle{color:#191919;background: #191919;}
.dd .ddTitle .ddTitleText{padding:0 0 0 0;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color: #191919
}
.dd .ddTitle .ddTitleText img{padding-right:0;}
.dd .ddChild{border:0 solid #191919; background-color:#191919; left:0;}
/*background for dropdown options*/
.dd .ddChild li{padding-top: 5px;padding-bottom: 5px; background-color: #191919; border-bottom:0 solid #191919;}
.dd .ddChild li .description{color: #191919;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover{background-color: #191919;}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 0; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:0 0 0 10px}
.dd .ddChild li.selected{background-color: #ff9000; color: #25c33f;}

#barrel_stabilizers_child li.selected {
    background: #191919;
}

.apex_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* ***************/
/* Reload Labels */
/* ***************/
.apex_lblMag {
    font-size: 20px;
}

.apex_reloadDataAndMagCount{
    margin : 0 !important;
    width: auto;
    min-width: 60px;
    vertical-align: top;
}

.apex_recoilGraphBox{
    height: 101px;
    margin-top: -25px;
    color: #FFFFFF;
}
.apex_sectionReload{
    text-align: center;
    color: #FF9000;
}

.apex_imgReload {
    width: 24px;
    vertical-align: text-bottom;
    margin-right: 10px;
}

.apex_lblReloadLeft{
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
}

.apex_lblReloadEmpty {
    font-size: 12px;
    font-weight: bold;
}

.apex_bulletSpeedContainer{
    text-align: center;
    padding-top: 10px;
}

.apex_lblSpeedHitScanValue {
    font-size: 24px;
}

.apex_wpnSwitchImg{
    height: 20px;
    width: auto;
    margin: 5px 0;
}

.apex_spreadLabels {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin-right: 5px !important;
    line-height: 25px;
    width: 90px;
    padding-top: 20px;
}

.apex_spreadBaseLabel {
    color: #A9D852;
}

.apex_spreadMoveLabel {
    color:  #FF9000;
}

.apex_hipSpreadContainer{
    margin: 0 !important;
    text-align: center;
}

.apex_hipSpreadLine {
    stroke: white;
    stroke-width: 3px;
    fill: none;
}

.apex_hipSpreadLine01 {
    stroke: white;
    stroke-width: 3px;
    fill: none;
}

.apex_hipSpreadLine1 {
    stroke-width: 2px;
    stroke: #A9D852;
    fill: none;
}

.apex_shotgunSpreadLine {
    stroke-width: 1px;
    stroke: #ffffff;
    fill: #191919;
}
.apex_shotgunSpreadLine2 {
    stroke-width: 1px;
    stroke: #ffffff;
    fill: #191919;
}

.apex_shotgunADSPoint {
    stroke-width: 1px;
    stroke: #ff0307;
    fill: #ff0307;
}

.apex_shotgunFrac1Point {
    stroke-width: 1px;
    stroke: #3dd800;
    fill: #3dd800;
}

.apex_shotgunFrac2Point {
    stroke-width: 1px;
    stroke: #d8cf0c;
    fill: #d8cf0c;
}

.apex_shotgunFrac3Point {
    stroke-width: 1px;
    stroke: #ff4200;
    fill: #ff4200;
}

.apex_shotgunFrac4Point {
    stroke-width: 1px;
    stroke: #ff0000;
    fill: #ff0000;
}

.apex_shotgunHipPoint {
    stroke-width: 1px;
    stroke: #A9D852;
    fill: #A9D852;
}

.apex_shotgunBlankPoint {
    stroke-width: 0;
}

.apex_hipSpreadLine2 {
    stroke-width: 3px;
    stroke: #FF9000;
    fill: none;
}

.apex_standADSSpreadValue {
    font-weight: bold;
    font-size: 12px;
    fill: #A9D852;
    text-align: right;
}

.apex_spreadValueSeparator {
    font-weight: bold;
    font-size: 12px;
    fill: #ffffff;
    text-align: right;
}

.apex_standHipSpreadValue {
    font-weight: bold;
    font-size: 12px;
    fill: #666666;
    text-align: right;
}

.apex_airHipSpreadValue {
    font-weight: bold;
    font-size: 12px;
    fill: #FF9000;
    text-align: right;
}

.apex_deployTimeBox {
    padding-top: 1px;
}

.apex_wpnSwitchImg{
    height: 40px;
    /*width: auto;*/
    margin-bottom: -35px;
    margin-left: 5px;
    margin-right: 3px;
}

.apex_lblDeployTime{
    font-size: 11px;
}

.apex_lblDeployTime_2{
    font-size: 11px;
    margin-left: 4px;

}
.apex_lblDeployTime_4{
    font-size: 11px;
    padding-left: 50px;

}

.apex_customButtonsApex{
    width: 298px;
    font-size: 8px;
}
.apex_customButtonsApex label{
    margin: 1px;
    width: 75px;
}

.apex_customButtons label{
    margin: 1px;
    width: 75px;
}

.apex_afterCustomButtons{
}

.apex_sortDragIcon{
    width: 45px;
    margin-bottom: 12px;
    opacity: .8;
}

.apex_deployTimeBox {
    /*margin-top: -1;*/
    padding-bottom: 10px;
}

/* Custom Combobox for shortcutCombobox */
.apex_custom-combobox {
    position: relative;
    display: inline-block;
}
.apex_custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.apex_custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
/* End custom combobox */
